html{
  height: 100%;
  width: 100%;
}
body {
  display: grid;
  grid-template-columns: 9vw 6fr;
  margin: 0;
  padding: 0;
  
  }
  /* Nav bar */
  .nav-bar {
    display: grid;
    grid-template-rows: 10vh repeat(4, 5vh) 1fr;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: large;
  }
 
  .nav-bar a {
    display: block;
    width: 100%;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
  }
  .nav-bar a:hover {
    background-color: gray
  }
  /*Top section/ head*/

  h1, h2{
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: "Catamaran", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    color: white;
    display: inline-block;
}

main {
  display: flex;
}
header.masthead {
  min-height: 900px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, #38a581 0%, #88C788 100%);
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-attachment: scroll; */
  background-size: cover;
}
.heading1  {
  display: inline-block;
  font-size: 3rem;
  margin-top: 10pt;
  background-color: black;
  margin-left: 25%;

  }


.heading2 {
  font-size: 1.5rem;
  display: inline-block;
  margin-left: 50%;
  margin-top: 10pt;
  transform: translate(-50%);
  background-color: black;
}



      /* footer */

      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2em;
        background-color: black;
        color: white;
        justify-content: space-between;
        align-items: center;
        margin: 0pt;
        padding: 10pt;
      }
     footer .head {
      display: flex;
     }
      footer a {
        color: white;
        
      }
      footer .copyright {
        position: absolute;
        bottom: 2pt;
        left: 9pt;
      }
      
      
