html{
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
  }
  /* Nav bar */
  nav {
    background-color: black;
    overflow: hidden;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: gray
  }
  /*Top section/ head*/

  h1, h2{
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: "Catamaran", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

main {
  display: block;
}
header .mb-1 {
  display: inline;
  justify-content: center  ;
  background-color: black
}
header.masthead {
  min-height: 900px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, #00274D 0%, #87CEFA 100%);
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-attachment: scroll; */
  background-size: cover;
}
header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
  text-align: center;  
}
header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
  text-align: center;
}
/* circle colour and sizes*/
header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #D0EFFF 0%, #FFFFFF 100%);
}
header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -45rem;
}
header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}
header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}
header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}











      /* footer */

      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2em;
        background-color: black;
        color: white;
        justify-content: space-between;
        align-items: center;
        margin: 0pt;
        padding: 10pt;
      }
     footer .head {
      display: flex;
     }
      footer a {
        color: white;
        
      }
      footer .copyright {
        position: absolute;
        bottom: 2pt;
        left: 9pt;
      }
      
      
